a, p, li {
    color: #9d270b;
    font-size: large;
    white-space: nowrap;
}

body {
    background-color: #e9e3d5;
    color: #181818;
    font-family: 'Product Sans', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    transition: 0.3s;
}

button, #submit-profile-link {
    background: #181818;
    border: 0;
    border-radius: 3px;
    color: #e9e3d5;
    cursor: pointer;
    font-family: 'Product Sans', Helvetica, sans-serif;
    font-size: x-large;
    height: auto;
    width: auto;
    padding: 8px;
    transition: 0.3s, margin 0s;
}

button:hover, #fake-button:hover, #submit-profile-link:hover {
    background: #d68260;
    color: #181818;
    transition: 0.3s;
}

div {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
    position: relative;
}

h1, h2 {
    background-color: #181818;
    padding-bottom: 8px;
    padding-top: 8px;
}

h2, h3 {
    padding-left: 2vw;
}

h1 {
    font-size: 5em;
    margin: 0;
    transition: 1s, padding 0s;
}

h1:hover {
    background-color: #9d270b;
    font-size: 7em;
    margin-top: -15px;
}

h2 {
    font-size: xx-large;
    transition: 0.5s, padding 0s;
}

h3 {
    font-size: x-large;
    margin-bottom: 5px;
}

hr {
    background-color: #181818;
    border: 0;
    color: #181818;
    height: 1px;
    width: 75%;
    opacity: 0.4;
}

img {
    background-image: #181818;
    border: none;
    transition: 0.5s, border 0s, margin 0s;
}

input {
    background: #181818;
    border: 0;
    border-radius: 3px;
    color: #e9e3d5;
    font-size: large;
    height: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    transition: 0.3s;
}

input:hover {
    background: #d68260;
    color: #181818;
    transition: 0.3s;
}

#fake-button {
    background-color: #9d270b; 
    color: #e9e3d5;
    cursor: default;
    border-radius: 2px;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    transition: 0.3s;
}

#make-playlist {
    background-color: #9d270b;
    color: #e9e3d5;
    font-size: 50px;
    width: 4em;
}

#make-playlist:hover {
    background-color: #d68260;
    color: #181818;
    transition: 0.5s;
    width: 5em;
}

#names-container {
    font-size: 0;
    margin-top: 8px;
    padding-bottom: 8px;
}


#pics-bg {
    background: #181818;
    height: auto;
    margin: 0;
    min-height: 210px;
    min-width: 800px;
    transition: 0.3s;
}

#pics-container {
    position: relative;
    left: -100%;
    margin: 0;
    transition: 0.5s;
}

#playlist-settings {
    background-color: #131313;
    color: #e9e3d5;
    font-size: larger;
    padding: 5px;
    margin: 0;
}

.checkbox-container input {
    position: absolute;
    cursor: pointer;
    top: -3px;
    left: 121px;
    height: 25px;
    width: 25px;
    opacity: 0;
    z-index: 1;
}

.checkbox-container input:hover ~ .select{
    background-color: #d68260;
}

.checkbox-container input:checked ~ .select{
    background-color: #9d270b;
}

.external {
    color: #9d270b;
    text-decoration: none;
}

.external:hover {
    color: #d68260;
    transition: 0.2s;
}

.member-name {
    display: inline-block; 
    margin-right: 2vw; 
    width: 150px; 
    text-align: center; 
    transition: 0s, color 0.5s, font-size 0.5s;
}

.playlist-form {
    position: absolute;
    padding: 0;
    height: 25px;
    width: 500px;
    left: 125px;
    background-color: #e9e3d5;
    color: #131313;
}

.playlist-form:hover {
    background-color: #d68260;
}

.profile-pic {
    border-radius: 50%;
    object-fit: cover;
    height: 0;
    width: 0;
    margin-left: 2vw;
    margin-top: 12px;
}

.remove-icon {
    position: relative;
    margin-right: -30px;
    height: 30px;
    width: 30px;
    top: -100px;
    left: -25px;
    opacity: 0;
    transition: 0.1s, opacity 0.5s;
}

.remove-icon:hover {
    cursor: pointer;
    margin-right: -35px;
    height: 35px;
    width: 35px;
    top: -97.5px;
    left: -27.5px;
    transition: 0.2s;
}

.select {
    position: absolute;
    background-color: #e9e3d5;
    border-radius: 3px;
    top: 0px;
    left: 125px;
    height: 25px;
    width: 25px;
    transition: 0.3s;
}