a {
    color: #9d270b;
    margin: 2vw;
    text-decoration: none;
}

a:hover {
    color: #691c07;
}

body {
    background-color: #e9e3d5;
    color: #181818;
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    transition: 0.3s;
}

button {
    background: #181818;
    border: 0;
    border-radius: 10px;
    color: #e9e3d5;
    cursor: pointer;
    font-family: 'Product Sans', Helvetica, sans-serif;
    font-size: x-large;
    height: auto;
    width: auto;
    margin-left: 2vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
    padding: 8px;
    transition: 0.3s, margin 0s;
}

button:hover {
    background: #d68260;
    color: #181818;
    transition: 0.3s;
}

div {
    margin-left: 2vw;
}

h1 {
    background-color: #181818;
    color: #e9e3d5;
    font-family: 'Product Sans', Helvetica, sans-serif;
    padding-left: 2vw;
    padding-bottom: 8px;
    padding-top: 8px;
    transition: 0.5s, padding 0s;
}

hr {
    background-color: #181818;
    border: 0;
    color: #181818;
    height: 1px;
    width: 75%;
    opacity: 0.4;
}

p {
    margin-left: 2vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

#album-art {
    border: none;
    display: none;
    height: 32vh;
    width: auto;
    margin-bottom: 8px;
    margin-top: 8px;
    transition: 0.3s, border 0s;
}

#hidden-header {
    color: #181818;
}

#current-track {
    color: #e9e3d5;
    transition: 0.3s;
}

.metadata {
    font-weight: bold;
}