a {
    /*color: #691c07;*/
    color: #9d270b;
    margin: 2vw;
    text-decoration: none;
}

a:hover {
    color: #d68260;
    transition: 0.2s;
}

body {
    background-color: #e9e3d5;
    color: #181818;
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    transition: 0.3s;
}

button, #submit-user-id {
    background: #181818;
    border: 0;
    border-radius: 5px;
    color: #e9e3d5;
    cursor: pointer;
    font-family: 'Product Sans', Helvetica, sans-serif;
    font-size: x-large;
    height: auto;
    width: auto;
    padding: 8px;
    transition: 0.3s, margin 0s;
}

button:hover, #submit-user-id:hover {
    background: #d68260;
    color: #181818;
    transition: 0.3s;
}

div {
    margin-left: 2vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

h1 {
    background-color: #181818;
    color: #e9e3d5;
    font-family: 'Product Sans', Helvetica, sans-serif;
    padding-left: 2vw;
    padding-bottom: 8px;
    padding-top: 8px;
    transition: 0.5s, padding 0s;
}

hr {
    background-color: #181818;
    border: 0;
    color: #181818;
    height: 1px;
    width: 75%;
    opacity: 0.4;
}

img {
    border: none;
    transition: 0.5s, border 0s, margin 0s;
}

input {
    background: #181818;
    border: 0;
    border-radius: 5px;
    color: #e9e3d5;
    font-size: large;
    height: 40px;
    padding-bottom: 0;
    padding-top: 5px;
}

#album-art {
    height: 17vh;
}

#current-track {
    color: #e9e3d5;
    transition: 0.3s;
}

#hidden-header {
    color: #181818;
}

#pics-bg {
    background: #181818;
    height: 19vh;
    margin: 0;
}

#pics-container {
    position: relative;
    left: -100%;
    margin: 0;
    transition: 0.5s;
}

.profile-pic {
    border-radius: 50%;
    object-fit: cover;
    height: 0;
    width: 0;
    margin-left: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}